<script src="resources/js/wikidata.js"></script>
<link rel="stylesheet" type="text/css" href="./main.css" />

<div id='top'>
</div>

<div id='main'>

<h1>Wikidata - in pretty!</h1>
<p><a href='//www.wikidata.org'>Wikidata</a> is an amazing project, but currently looks rather dry. This will, no doubt, change during the year, with Wikipedia displaying transcluded data, 
and Lua support on both Wikipedia and Wikidata itself.</p>
<p>As a stop-gap measure, and a small demo of Wikidata's capabilities, welcome to Reasonator! Not only will it display Wikidata entries, it will do so in a item-type-optimized fashion, 
and also show related, significant data through simple reasoning (hence the name).</p>
<p>Try it out right away with <a href='?q=Q1339'>Johann Sebastian Bach</a>!</p>
<p>By default, the page will be in English. You can also set your preferred languages in the URL, like so: <a href='?q=Q1339&lang=de,fr'>Johann Sebastian Bach</a> 
trying German and French first ("&lang=de,fr"); some headings remain in English, for now.</p>
<p>People are currently the only item type that works on Reasonator; I have plans to add taxonomic entries and locations next.</p>
<p>Reasonator is a self-contained JavaScript class (plus some HTML/CSS), so it can easily be ported to other locations. As always, code under GPL.</p>

<div>
<h3>Other examples</h3>
<ul>
<li><a href='?q=Q350'>Cambridge</a></li>
<li><a href='?q=Q4504'>Komodo dragon</a></li>
<li><a href='?q=Q7066'>Atheism</a></li>
</ul>
</div>

</div>

