.alias {
	display:inline-block;
}

.aliases {
	color:#999999;
	margin-bottom:5px;
	max-height:100px;
	overflow:auto;
}

.langmarker {
	font-size:8pt;
	color:#999999;
}

.manual_description {
	font-size:14pt;
	margin-bottom:5px;
}

a.wikidata {
	color:#2DC800;
}

a.wikipedia {
	color:#9669FE;
}

a.external {
	color:#2DC800;
	font-size:10pt;
}

.entity {
	display:none;
}

.entity_person {
}

.autodesc div {
	display:inline-block;
	margin-right:5px;
}

.sitelinks {
	font-size:9pt;
}

small.qnumber {
	color:#999999;
}

.mythumb {
	margin:5px;
	display:inline-block;
}

div.map {
	display:inline-block;
	width:200px;
	height:200px;
	margin-right:10px;
}

.misc_data {
	font-size:9pt;
}